@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    margin: 10px;
    font-family: roboto;
}

.quote{
    border: 2px solid black;
    width: 30%;
    height: 20vh;
    overflow: hidden;
    font-size: 17px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    box-sizing: border-box;
}
textarea{
    border: 2px solid black;
    width: 30%;
    height: 20vh;
    overflow: hidden;
    font-size: 17px;
}
button{
    padding:10px 20px;
    border-radius: 20px;
}