*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0px 40px;
    background-color: rgb(37, 37, 48);
}
header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
header ul a{
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 0px;
}
.name{
    font-size: 36px;
    font-weight: bolder;
    color: white;
}
header ul a:hover{
    border: 3px solid white;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}
.body{
    height: 90vh;
    background-image: url(./images/background1.avif);
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}
.body::before{
    background-color: rgba(0,0,0,0.8);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body h1,p{
    margin-bottom: 3vh;
    z-index: 0;
}
.body ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 2vh;
    z-index: 0;
}
.body ul a{
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    padding: 9px 23px;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 20px;
    z-index: 0;
}
.body ul li a:hover{
    background-color: rgb(37, 37, 48);
    border-color: rgb(37, 37, 48);
    z-index: 0;
}